@media (max-width: 390px) {
  body {
    width: 100vw;
    margin: 0;
  }

  

  .welcome {
    flex-direction: column;

    &__text {
      background-color: red;
      background-color: red($color: #000000);
      &__title {
        font-size: 10rem;
        color: red;
      }
    }
  }
}
